*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
gradle
local.properties
gradlew.bat
gradle.properties
*.apk
gradlew
/release
/release/output.json
.externalNativeBuild
.idea
output.json
